body {
    margin: 0;
    display: flex;
    justify-content: center; /* 중앙 정렬 */
    align-items: center; /* 중앙 정렬 */
    height: 100vh; /* 전체 화면 높이 */
    background-color: #f0f0f0; /* 배경색 추가 */
}

.login-container {
    display: flex;
    flex-direction: column;
    border-radius: 30px; /* 모서리 둥글기 조정 */
    border: 2px solid #C3C3C3; /* 경계 스타일 */
    padding: 30px; /* 패딩 조정 */
    margin: 20px; /* 마진 조정 */
    background-color: #D5FFD1; /* 배경색 추가 */
    width: 400px; /* 너비 증가 */
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2); /* 그림자 추가 */
}

h1{
    color: black;
    margin-bottom: 5px; /* 제목과 입력 필드 간의 간격 유지 */
    font-size: 15px; /* 제목 크기 조정 */
}

.insert {
    border-radius: 30px; /* 모서리 둥글기 조정 */
    padding: 10px; /* 입력 필드 내부 여백 */
    border: 2px solid #c3c3c3; /* 경계선 스타일 */
    margin-top: 5px; /* 입력 필드와 다음 요소 간의 여백 유지 */
    margin-bottom: 13px; /* 입력 필드와 다음 요소 간의 여백 유지 */
    background-color: white;
}

.kakao-login-button {
    padding: 8px; /* 버튼 내부 여백 */
    background-color: #84dd65; /* 버튼 배경색 */
    color: rgb(255, 255, 255); /* 버튼 글자색 */
    border-color: #c3c3c3;
    border-radius: 10px; /* 버튼 모서리 둥글기 */
    cursor: pointer; /* 마우스 커서를 포인터로 변경 */
    width: 100%; /* 버튼 너비를 100%로 설정 */
    transition: background-color 0.3s; /* 배경색 전환 효과 */
    margin-bottom: 10px; /* 버튼 간의 간격 추가 */
}

.kakao-login-button:hover {
    background-color: darkgreen; /* 버튼에 마우스를 올렸을 때 색상 변경 */
}

p {
    margin-bottom: 15px; /* 아래쪽 여백 유지 */
}
.sosial-title {
    color: #a7a7a7;
}
.kakaobutton{
    width:40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    border: none; /* 버튼 경계선 제거 */
    background-color: transparent; /* 배경색 투명 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    cursor: pointer; /* 커서를 포인터로 변경 */
    margin-top: 10px; /* 위쪽 여백 조정 */

}

.logbtn_kakao {
    width: 40px;
    border-radius: 50%;
    align-items: center;
}
.profile-image {
    width: 100px; /* 원의 지름 설정 */
    height: 100px; /* 원의 지름 설정 */
    border-radius: 50%; /* 원 모양으로 만들기 */
    object-fit: cover; /* 이미지 비율 유지 */
    margin-top: 20px; /* 이미지와 버튼 간의 간격 조정 */
}