/* 전체 컨테이너 설정 */
.newlogin{
    width: 100%; /* 전체 너비 설정 */
    max-width: 800px; /* 최대 너비 설정 */
    margin: 0 auto; /* 중앙 정렬 */
    display: flex;
    justify-content: center; /* 중앙 정렬 */
    flex-direction: column; /* 세로 방향으로 정렬 */
    height: 100vh; /* 전체 화면 높이 */
    background-color: #ffffff; /* 배경색 추가 */
}

.newlogin-container {
    display: flex;
    flex-direction: column; /* 수직 정렬 */
    align-items: center; /* 중앙 정렬 */
    width: 100%;
    margin-right: 5px;
}

.newlogin-title{
    font-size: 30px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;

    position: relative; /* 밑줄을 위한 위치 기준 */
}
.title {
    color: black;
    font-size: 15px;
    text-align: left;
    margin: 10px;
    font-weight: bold;
    width: 100%;
    margin-left: 460px;
}

.insert {
    width:330px; /* 입력 필드 너비 */
    height : 18px;
    padding: 12px;
    margin: 2px 0; /* 상하 여백 추가 */
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 14px;
    font-family:'SUITE Variable', sans-serif;

}

.check, .signup-button {
    width: 350px; /* 버튼 너비 */
    height: 48px; /* 버튼 높이 */
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: #cacaca;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;


    margin: 10px 0; /* 상하 여백 추가 */
}
.location-button{
    width: 350px; /* 버튼 너비 */
    height: 50px; /* 버튼 높이 */
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: #cacaca;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 8px 0; /* 상하 여백 추가 */


}

.signup-button {
    width: 350px;
    height: 48px;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    color: #5d5d5d;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px 0;
}

/* 버튼 호버 효과 */
.check:hover, .location-button:hover {
    background-color: #dadada;
}

.signup-button:hover {

    color: rgb(0, 0, 0);
}

.error-msg {
    color: red;
    font-size: 10px;
    margin-top: 1px;
    margin-bottom: 1px;


}
