/* 전체 페이지 중앙 정렬을 위한 래퍼 */
.signup-container {
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    height: 100vh; /* 화면 전체 높이 사용 */
}

.signup-page{
    display: flex;
    flex-direction: column;
    border-radius: 30px; /* 모서리 둥글기 조정 */
    border: 2px solid #C3C3C3; /* 경계 스타일 */
    padding: 30px; /* 패딩 조정 */
    margin: 20px; /* 마진 조정 */
    background-color: #D5FFD1; /* 배경색 추가 */
    width: 400px; /* 너비 증가 */
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2); /* 그림자 추가 */
}

.signup-button{
    padding: 8px; /* 버튼 내부 여백 */
    color: #81ff55; /* 버튼 배경색 */
    background-color: rgb(255, 255, 255); /* 버튼 글자색 */
    border-color: #81ff55;
    border-radius: 10px; /* 버튼 모서리 둥글기 */
    cursor: pointer; /* 마우스 커서를 포인터로 변경 */
    width: 100%; /* 버튼 너비를 100%로 설정 */
    transition: background-color 0.3s; /* 배경색 전환 효과 */
    margin-bottom: 10px; /* 버튼 간의 간격 추가 */
}

.error-msg{
    color: red;
    font-size : 10px;
    margin-top : 1px;
    margin-bottom: 1px;
}