.product-detail {
    display: flex; /* 가로 방향으로 배치 */
    border: 1px solid #f7f7f7; /* 테두리 */
    border-radius: 10px; /* 둥근 모서리 */
    padding: 10px; /* 내부 여백 */
    max-width: 1800px; /* 최대 너비 설정 */
    width : 1200px;
    max-height : 1000px;
    height : 500px;
    margin-top: 70px;
    background-color: #fcfcfc; /* 배경색 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 */
    position: relative; /* 버튼을 절대 위치로 설정하기 위해 상대 위치 설정 */

  }

  .productdetail-image {
    position: relative; /* 위치 조정을 위해 상대 위치 설정 */
    max-width: 1000px; /* 최대 너비 조정 */
    max-height: 600px; /* 최대 높이 설정 */
    width: auto; /* 너비를 전체에 맞춤 */
    height : auto;
    object-fit: cover; /* 비율 유지하며 잘라내기 */
    border-radius: 8px; /* 둥근 모서리 */
    left:20px; /* 왼쪽으로 200px 이동 */
    margin-right: 20px; /* 오른쪽 여백 */
  }


  .productdetail-info {
    display: flex;
    flex-direction: column; /* 세로 방향으로 정렬 */
    /* justify-content: flex-start; 위쪽 정렬 */
    flex : 1;
  }

  .productdetail-price {
    position: relative; /* 위치 조정을 위해 상대 위치 설정 */
    font-size: 1.5em; /* 가격 텍스트 크기 */
    text-align: right;
    right : 80px;
    color: #ff0000; /* 가격 색상 */
    margin: 10px 0; /* 위아래 여백 */

  }

  .productdetail-description {
    margin: 10px 0; /* 위아래 여백 */
    flex-direction:  1;
  }

  .buy-button {
    background-color: #41d72aab; /* 버튼 배경색 */
    color: white; /* 버튼 텍스트 색상 */
    border-color: #d2d2d2; /* 테두리 없음 */
    border-radius: 5px; /* 둥근 모서리 */
    padding: 10px 15px; /* 내부 여백 */
    cursor: pointer; /* 커서 포인터로 변경 */
    bottom: 20px;
    right : 50px;
    position: absolute;
    height : 40px;
    width: calc(100% - 800px); /* 버튼 너비 설정 (부모 요소 너비 - 여백) */

}

  .buy-button:hover {
    background-color: #2980b9; /* 호버 시 색상 변경 */
  }